body , html {
	margin:0;
	padding:0;
	background-color:#000;
	height:100%;
	width:100%;
}

#forms {
	margin-top: 30px;
}

#forms input {
	margin-left: 10px;
	margin-bottom: 2px;
	margin-right: 0;
	margin-top: 2px;
	text-align: left;
	color: #bababa;
	border-width: thin;
	border-style: solid;
	border-color: #474747;
	background-color: black;
	font-size: 14px;
	padding: 4px 2px;
	width: 144px;
}

#forms input.btn_inx_form {
	border:1px solid #817a63;
	background-color:#2b2b18;
	color:#dfddd3;
	text-align:center;
	padding:0;
	font-size:12px;
}

#forms input.btn_inx_form:hover {
	background-color:#383820;
	cursor:pointer;
}

#forms input.enter {
	background-color: #151616;
	border: 1px double #817A63;
	color: #DFDDD3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 6px;
}

.inx-lowercase {
	color:#dfddd3;
	font-size:11px;
}

.inx-linkline {
	padding:20px;
}

.inx-linkline a {
	font-weight: normal;
	text-decoration: none;	
	color:#dfddd3;	
}

.inx-linkline a:hover {
	color: #7e7765;
	text-decoration: underline;
}

.btn {
	FONT-SIZE: 7.5pt;
	COLOR: #bababa;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #282828;
	border: 1px double #474747;
}
